.foto1{
	margin-top: -300px;
	margin-left: 25px;
}
.foto2{
	margin-top: -290px;
	margin-left: 25px;
}
.foto3{
	margin-left: 30px;
}
.foto4{
	margin-left: 30px;
}
.titulo{
	margin-left: -25px;
}
.titulo1{
	margin-left: 25px;
}
